:root {
  --table-curve: 20px;
  --heading-font-color: white;
  --color-odd-odd:#DBDBDB;  
  --color-odd-even:#E7E7E7;  
  --color-even-eve:#F3F3F3;
  --heading-bg-color1: #7887AB;  
  --heading-bg-color2: #4F628E;  
  --heading-bg-color3: #2E4172;  
  --heading-bg-color4: #162955;  
  --heading-bg-color5: #061539;  
}

table {
  border-collapse: separate;
  font-family: sans-serif;
}

thead td:first-child {
  border-radius: var(--table-curve) 0 0 0;
}

thead td:last-child {
  border-radius: 0 var(--table-curve) 0 0;
}

tfoot td:first-child {
  border-radius: 0 0 0 var(--table-curve);
}

tfoot td:last-child {
  border-radius: 0 0 var(--table-curve) 0;
}

thead > tr > td {
  padding: 30px 10px;
  color: var(--heading-font-color);
  font-size: 30px;
  font-weight: bold;
  
}

thead > tr > td:nth-child(1) {
  background-color: var(--heading-bg-color1);
}

thead > tr > td:nth-child(2) {
  background-color: var(--heading-bg-color2);
}

thead > tr > td:nth-child(3) {
  background-color: var(--heading-bg-color3);
}
thead > tr > td:nth-child(4) {
  background-color: var(--heading-bg-color4);
}
thead > tr > td:nth-child(5) {
  background-color: var(--heading-bg-color5);  
}

tr > td {
  padding: 10px 20px;
}
table > :not(thead) > tr:nth-child(odd) > td:nth-child(odd) {
  background-color: var(--color-odd-odd);
}

table > :not(thead) > tr:nth-child(odd) > td:nth-child(even),
table > :not(thead) > tr:nth-child(even) > td:nth-child(odd) {
  background-color: var(--color-odd-even);  
}



table > :not(thead) > tr:nth-child(even) > td:nth-child(even) {
  background-color: var(--color-even-even) ;  
}

tr > td:not(:nth-child(1)), thead>tr:first-child {
  text-align: center;
}
td {
  vertical-align: middle;
}